<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <!-- Campo para ingresar la asignatura -->
      <ion-item>
        <ion-label position="floating">Asignatura</ion-label>
        <ion-input [(ngModel)]="asignatura"></ion-input>
      </ion-item>
      
      <!-- Campo para ingresar la nota -->
      <ion-item>
        <ion-label position="floating">Nota</ion-label>
        <ion-input [(ngModel)]="nota" type="number"></ion-input>
      </ion-item>

      <!-- Botón para guardar la nota -->
      <ion-button expand="block" (click)="guardarNota()">
        Guardar Nota
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let nota of notas">
      <ion-label>
        <h2>{{ nota.asignatura }}</h2>
        <p>Nota: {{ nota.nota }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
